/********** Base Styles **********/
body {
	min-width: 375px;
	max-width: 1440px;
	margin: 0 auto;
	padding-right: 1em;
	padding-left: 1em;
}

.attribution {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
	color: white;
}

.attribution a {
	color: violet;
}
